.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #495057;
}

.Logo-header {
  width: 140px;
  height: 30px;

  p {
    font-size: 20px;
    color: #dee2e6;
    font-weight: bold;
  }
}

.Wrapper-nav {
  nav {
    display: flex;
    flex-direction: row;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  a {
    color: #fff;
    margin-right: 2rem;
    transition: all 0.2s;
  }

  a:hover {
    color: rgba(196, 196, 196, 0.658);
  }
}


@media screen and (max-width: 350px){
  .wrapper {
    width: 100%;
  }

  .Wrapper-nav {
    display: none;
  }
}
