@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;

  font-family: 'Popppins', sans-serif;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

body {
  box-sizing: border-box;
}